<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <link rel="stylesheet" th:href="@{/static/styles/style.css}"/>
    <script>
        function selectFilter(select) {
            const option = select.querySelector(`option[value="${select.value}"]`)
            let obj =document.querySelector('#filterRemove').getElementsByTagName("option");
            for (let i = 0; i < obj.length; i++) {
                document.getElementById(obj[i].innerText).classList.remove("selected");
                document.getElementById(obj[i].innerText).classList.add("hidden");
            }
            document.getElementById(option.innerText).classList.add("selected");
            document.getElementById(option.innerText).classList.remove("hidden");
        }
    </script>
</head>
<body>
    <div id="root_container">
        <a class="left" th:href="@{/user}">to page Users</a>
        <a class="right" th:href="@{/login}">Exit</a>
        <form class="saveForm" method="post" th:action="@{/books/save}" th:object="${book}">
            <table>
                <tr>
                    <td>
                        <label>
                            <input type="text" placeholder="author" th:field="*{author}">
                            <p class="validError" th:if="${#fields.hasErrors('author')}">No Author</p>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="text" placeholder="book_title" th:field="*{title}">
                            <p class="validError" th:if="${#fields.hasErrors('title')}">No Title</p>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="text" placeholder="size (pages)" th:field="*{size}">
                            <p class="validError" th:if="${#fields.hasErrors('size')}">No Size</p>
                        </label>
                    </td>
                    <td>
                        <input type="submit" value="save">
                    </td>
                </tr>
            </table>
        </form>

        <div id="removeDiv" class="min_container">
            <form class="filterRemove" method="post" th:action="@{/books/remove}" th:object="${bookRemoveForm}">
                <select class="filterRemove" id="filterRemove" th:field="*{type}">
                    <option value="bookIdToRemove">bookIdToRemove</option>
                    <option value="bookAuthorToRemove">bookAuthorToRemove</option>
                    <option value="bookTitleToRemove">bookTitleToRemove</option>
                    <option value="bookSizeToRemove">bookSizeToRemove</option>
                </select>
                <input type="text" placeholder="value" th:field="*{value}">
                <p class="validError" style="margin-left: 165px;" th:if="${#fields.hasErrors()}">Field NotEmpty</p>
                <input type="submit" value="remove">
            </form>
        </div>

        <div style="clear: right"></div>
        <br>
        <div id="filter" class="min_container">
            <form method="post" style="float: left;" th:action="@{/books/filterBook}" th:object="${filterForm}">
                <select  class="filterFilter" id="filterSelect" th:field = "*{typeFilter}">
                    <option value="bookAuthorToFilter">bookAuthorToFilter</option>
                    <option value="bookTitleToFilter">bookTitleToFilter</option>
                    <option value="bookSizeToFilter">bookSizeToFilter</option>
                </select>
                <input type="text" placeholder="regex" th:field="*{regex}">
                <p class="validError" style="margin-left: 140px;" th:if="${#fields.hasErrors('regex')}">regex empty</p>
                <input type="submit" value="OK">
            </form>
            <form method="post" th:action="@{/books/resetFilter}">
                <input type="submit" value="ResetFilter">
            </form>
        </div>

        <div class="min_container">
            <form method="post" th:action="@{/books/uploadFile}" th:object="${uploadFileForm}" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>
                            <input type="file" name="file"  th:field="${uploadFileForm.file}"/>
                            <p class="validError" th:if="${#fields.hasErrors('file')}">File upload null</p>
                        </td>
                        <td>
                            <input type="submit" value="uploadFile"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <table id="books">
            <tr>
                <th>id</th>
                <th>author</th>
                <th>title</th>
                <th>size</th>
            </tr>
            <tr th:each="book : ${bookList}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.size}"></td>
            </tr>
        </table>


        <div id="lableError">ErrorList</div>
        <table id="errorTable">
            <tr>
                <th>Code</th>
                <th>Message</th>
            </tr>
            <tr th:each="error : ${errorList}">
                <td th:text="${error.code}"></td>
                <td th:text="${error.message}"></td>
            </tr>
        </table>

    </div>
</body>
</html>